@charset "utf-8";

body {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #171a0f;

    display: flex;
    flex-flow: column;
    /* bodyの高さの最小値をビューポートの高さにする */
    min-height: 100vh;
}

/* Header */
.my-header {
    height: 12vh;
    width: 100vw;
    background-color: rgba(25,25,112,0.75);
    display: flex;
    flex-flow: row;
    align-items: center;
    /* 最上部に固定 */
    position: fixed;
    top: 0;
    left: 0;
    /* 最前面に配置 */
    z-index: 100;
}
.my-header h1 {
    color: #ff69b4;
    font-size: 24px;
    text-shadow: 1px 1px 3px #000000;
}
.my-header h1 span {
    color: #ffffff;
    font-size: 16px;
}

/* Header Logo */
.header-text {
    padding-left: 15vw;
}

/* Twitter Logo */
.twitter-logo {
    text-align: right;
}
.twitter-logo img {
    width: 6vw;
}
.youtube-logo {
    padding-right: 20vw;
    text-align: right;
}
.youtube-logo img {
    width: 6vw;
}

/* Header Navigation */
.header-nav {
    margin: 0 1vw 0 auto;
}
.header-nav .selected {
    font-weight: bold;
    color: rgba(255, 255, 0, 1);
    background-color: rgba(229, 1, 18, 0.8);
}
.header-nav .unselected {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}
.header-nav ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-nav ul li {
    position: relative;
    float: left;
    border-left: 4px solid rgba(112, 128, 144, 0.8);
}
.header-nav ul li ul {
    margin-left: -4px;
}
.header-nav > ul {
    position: relative;
}
.header-nav > ul > li:last-child {
    border-right: 4px solid rgba(112, 128, 144, 0.8);
}
.header-nav > ul > li > .header-nav-link + ul li {
    width: 15vw;
    opacity: 0;
    height: 0;
    margin-top: -48px;
    border-bottom: 2px solid rgba(112, 128, 144, 0.8);
}
.header-nav > ul > li:hover .header-nav-link + ul > li {
    opacity: 1;
    height: auto;
    margin-top: 0;
}
.header-nav .header-nav-link {
    float: left;
    text-decoration: none;
    padding: 15px;
    width: 100%;
}
.header-nav .header-nav-link:hover {
    background-color: rgba(146, 215, 231, 0.75) !important;
}

.header-nav .header-nav-top-link {
    padding: 25px 15px 25px;
}
.header-nav ul li:hover .header-nav-link {
    background-color:rgba(51, 51, 51, 0.75);
}
.header-nav ul li:hover .header-nav-top-link {
    background-color:rgba(146, 215, 231, 0.75);
}

.header-nav > ul > li > .header-nav-top-link + ul {
    top:70px;
}
.header-nav > ul > li:hover .header-nav-sub-link {
    background-color:rgba(51, 51, 51, 0.75);
}

@media (max-width: 767px) {
    .header-nav > ul > li {
        width: 100%;
        border-right: 4px solid rgba(146, 215, 231, 0.75);
        border-bottom:2px solid rgba(146, 215, 231, 0.75);
    }
    .header-nav > ul > li:first-child > a {
        font-size: 18px;
        font-weight: bold;
    }
    .header-nav > ul > li:last-child {
        border-bottom: none;
    }
    .header-nav > ul > li > .header-nav-top-link + ul {
        position: relative;
        top: 0px;
        left: 4px;
        width: 100%;
    }
    .header-nav > ul > li > .header-nav-top-link + ul li {
        position: relative;
        float: left;
        border-left: none;
        width: 100%;
    }
}

/* Footer */
.my-footer {
    height: 8vh;
    width: 100vw;
    background-color: rgba(25,25,112,0.75);
    display: flex;
    text-align: center;
    /* 最上部に固定 */
    position: fixed;
    bottom: 0;
    right: 0;
    /* 最前面に配置 */
    z-index: 100;
}

.my-footer .copyright {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.1rem;
    padding-left: 40vw;
}
.my-footer .copyright img {
    width: 60px;
    height: auto;
    vertical-align: middle;
}

/* Main */
.my-main {
    padding: 12vh 0 4vh;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Background Video */
.background-video {
  width: 100vw;
  /* 最上部に固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 最前面に配置 */
  z-index: -1;
}

/* Heading */
.heading {
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid #bababa;
    margin-bottom: 20px;
}

.article-home .heading {
    color: #e50112;
    text-shadow: 3px 3px 6px #ffff00;
}

.article-profile .heading {
    color: #ff69b4;
    text-shadow: 3px 3px 6px#bababa;
}

.article-discography .heading {
    color: #191970;
    text-shadow: 3px 3px 6px#bababa;
}

/* Article */
.article-home {
    margin: 30px auto 0;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-home {
    align-self: flex-start;
    width: 35vw;
    margin-bottom: 30px;
    padding: 2vw;
    background-color: rgba(229, 1, 18, 0.8);
}
.section-home img {
    width: 100%;
    margin-bottom: 10px;
}
.section-home iframe {
    width: 100%;
    margin-bottom: 10px;
}
.section-home h1 {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #bababa;
    margin-bottom: 20px;
}
.section-home p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}
.section-home .btn {
  font-size: 16px;
  font-weight: bold;
  color: #e50112;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s;
}
.section-home .btn:hover {
  background-color: #e50112;
  color: #fff;
  transition: all 0.4s;
}

.article-profile {
    margin: 30px auto 0;
}
.section-profile {
    width: 75vw;
    padding: 2vw;
    margin: 0 auto 30px auto;
    background-color: rgba(255, 105, 180, 0.8);
}
.section-profile img {
    max-width: 90%;
    margin-bottom: 10px;
}
.section-profile iframe {
    max-width: 90%;
    margin-bottom: 10px;
}
.section-profile h1 {
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 0.1rem;
}
.section-profile h2 {
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #bababa;
    margin-bottom: 20px;
}
.section-profile p {
    font-size: 18px;
    color: #cccccc;
    line-height: 1.6;
}
.section-profile ul {
    list-style: none;
}
.section-profile ul li {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.75;
}

.box-profile {
    display: flex;
    justify-content: space-around;
}
.box-left {
    width: 50%;
}
.box-right {
    width: 50%;
}

.article-discography {
  margin: 30px auto 0;
}
.section-discography {
  width: 1040px;
  padding: 2.5%;
  margin: 0 auto 30px auto;
  background-color: rgba(25,25,112,0.75);
}
.section-discography img {
  max-width: 90%;
  margin-bottom: 10px;
}
.section-discography h1 {
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0.1rem;
}
.section-discography h2 {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #bababa;
  margin-bottom: 20px;
}
.section-discography p {
  font-size: 14px;
  color: #cccccc;
  line-height: 1.6;
}
.section-discography ul {
  list-style: none;
}
.section-discography ul li {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.75;
}

.box-discography {
  display: flex;
  justify-content: space-around;
}
